html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}

.logo {
  display: block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.link:not(:last-child) {
  margin-right: 25px;
}

.downld {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  padding-left: 30px;
  background-image: url(../img/download.png);
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.subtitle3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.text {
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.items {
  margin: 0;
  padding-left: 15px;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.item::marker {
  color: #3f2aff;
}

.item a {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.img:not(.figure .img) {
  margin-bottom: 40px;
}

.figure {
  margin: 0;
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.figure figcaption {
  border: 1px solid #b6b6b6;
  border-top: none;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.gray {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gray:not(:last-child) {
  margin-bottom: 40px;
}

.gray .text {
  width: 692px;
  margin-bottom: 10px;
}

.bg_blue {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: white;
  background-color: #3f2aff;
}

.bg_img_book {
  background-image: url(../img/decorate-1.png);
}

.bg_img_star {
  background-image: url(../img/decorate-2.png);
}

.modules_container {
  margin: 0 auto;
  padding: 50px 0;
  width: 1170px;
}

.modules_logo {
  width: 137px;
  display: block;
  margin-bottom: 25px;
}

.modules_link_to_index {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #3f2aff;
  padding-left: 50px;
  background-image: url(../img/modules/Arrow\ 1.svg);
  background-position: left center;
  background-size: 45px 20px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

.modules_title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #3F2AFF;
}

.modules_subtitle {
  margin: 0;
  padding-top: 25px;
  padding-left: 25px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #3F2AFF;
}

.modules_cards {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.modules_card {
  display: inline-block;
  width: 572px;
  height: 505px;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 180px;
  background-position: top center;
  background-size: 572px 180px;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 1px 1px 10px;
}

.modules_card:not(:nth-child(2n)) {
  margin-right: 25px;
}

.modules_card_one {
  background-image: url(../img/modules/1.jpg);
}

.modules_card_two {
  background-image: url(../img/modules/2.jpg);
}

.modules_card_three {
  background-image: url(../img/modules/3.jpg);
}

.modules_card_four {
  background-image: url(../img/modules/4.jpg);
}

.modules_card_contents {
  padding: 0;
  padding-left: 25px;
  list-style-type: none;
  font-size: 0;
}

.modules_card_content {
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
}

.number {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #EAEAEA;
}

.button {
  padding: 25px 75px;
  background-color: white;
  margin: 0 auto;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #3f2aff;
  border: solid 2px #3F2AFF;
  margin-bottom: 50px;
}
